{% extends "base.html" %}

{% block nav %}
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{{ logout_url }}">{{ username }} (logout)</a>
                    </li>
                </ul>
{% endblock %}

{% block content %}
        <div class="row">

            <!-- Wiki Entries Column -->
            <div class="col-md-8">

                <h1 class="page-header">Edit</h1>

                <!-- First Wiki Post -->
                <h2>
                    <a href="{{ page_name }}">{{ page_name|replace('/', '', count=None) }}</a>
                </h2>

                <div class="well">
                    <form method="post">

                      <div class="entry">
                        <p><textarea rows="10" class="form-control" name="content">{{ content }}</textarea></p>
                      </div>

                      <input type="submit" class="btn btn-default" value="save">

                      {% if error %}
                      <p class="has-warning"> {{ error }}</p>
                      {% endif %}
                    </form>
                </div>
                <hr>

            </div>

            <!-- Wiki Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Wiki Categories Well -->
                <div class="well">
                    <h4>Recent Pages</h4>
                    <div class="row">
                        <div class="col-lg-6">
                        {% if pages %}
                          <ul class="list-unstyled">
                            {% for page in pages %}
                            <li><a href="{{ page }}">{{ page|replace('/', '', count=None) }}</a></li>
                          {% endfor %}
                         </ul>
                        {% endif %}
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
            </div>
        </div>
        <!-- /.row -->
{% endblock %}