{% extends "base.html" %}

{% block nav %}
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{{ signup_url }}">signup</a>
                    </li>
                </ul>
{% endblock %}

{% block content %}
        <div class="row">

            <!-- Wiki Entries Column -->
            <div class="col-md-8">

                <h1 class="page-header">Login</h1>

                <form method="post">
                  <table>
                        <tr>
                            <td><label>Username&nbsp;&nbsp;</label></td>
                            <td>
                                <input class="form-control" type="text" name="username" value="{{ username }}">
                             </td>
                        </tr>

                        <tr>
                            <td><label>Password&nbsp;&nbsp;</label></td>
                            <td>
                                <input class="form-control" type="password" name="password" value="{{ password }}">
                                <p class="has-warning">{{ err }}</p>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="2"><input class="btn btn-default" type="submit" value="submit"></td>
                        </tr>
                    </table>
                </form>

            </div>
        </div>
        <!-- /.row -->
{% endblock %}