{% extends "base.html" %}

{% block nav %}
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{{ logout_url }}">{{ username }} (logout)</a>
                    </li>
                    <li>
                        <a href="{{ edit_url + page_name }}">edit</a>
                    </li>
                </ul>
{% endblock %}

{% block content %}
        <div class="row">

            <!-- Wiki Entries Column -->
            <div class="col-md-8">

                <!-- First Wiki Post -->
                <h2>
                    <a href="{{ page_name }}">{{ page_name|replace('/', '', count=None) }}</a>
                </h2>
                <p class="lead">
                    by <span class="nonlink">{{ username }}</span>
                </p>
                <p><span class="glyphicon glyphicon-time"></span> {{ created }}</p>
                <hr>
                {{ content|safe }}
                <hr>

            </div>

            <!-- Wiki Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Wiki Create Page Well -->
                <div class="well">
                    <h4>Create a new page</h4>
                    <div class="input-group">
                        <form method="post">
                            <input type="text" class="form-control" name="new_page"><br><br>
                            <input type="submit" class="btn btn-default" value="submit">
                        </form>
                        {% if error %}
                        <p class="has-warning"> {{ error }}</p>
                        {% endif %}
                    </div>
                    <!-- /.input-group -->
                </div>

                <!-- Wiki Categories Well -->
                <div class="well">
                    <h4>Recent Pages</h4>
                    <div class="row">
                        <div class="col-lg-6">
                        {% if pages %}
                          <ul class="list-unstyled">
                            {% for page in pages %}
                            <li><a href="{{ page }}">{{ page|replace('/', '', count=None) }}</a></li>
                          {% endfor %}
                         </ul>
                        {% endif %}
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
            </div>
        </div>
        <!-- /.row -->
{% endblock %}